@page
@using WhatsYourFace.Frontend.Pages
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    @Privacy.AboutCookies
</p>
<p>
    @Privacy.AboutPhotos
</p>
<p>
    @Privacy.AboutPersonalData
</p>
    <a class="btn btn-default" href="/">@Privacy.Back</a>